
    <div class='ui vertically divided grid'>
        <div class='two column row'>
            <div class='column'>
              <center><h1>Hospital</h1>
                  <%= link_to "Sign up",new_user_registration_path, class: 'ui huge green button' %>
                  <%= link_to "Sign in",new_user_session_path, class: 'ui huge primary button' %>
              </center>  
            </div>
            <div class='column'>
              <center><h1>Patient</h1> 
                  <%= link_to "Sign in",new_patient_session_path, class: 'ui huge primary button' %>
              </center> 
            </div>
            
        </div>
    </div>
