<div class = 'mc_answers'>
<div class = 'inline field'>
  <%= f.label :content, "Answer" %>
  <%= f.text_field :content %>
 
  <%= link_to_remove_association "Remove", f, {class: 'ui inverted red button',wrapper_class: 'mc_answers'} %>
  </div>
</div>