<div class = 'mc_answers'>

  <%= f.label :content, "Answer" %>
  <%= f.text_field :content %>
 
  <%= link_to_remove_association "Remove", f, {class: 'btn btn-primary btn-xs',wrapper_class: 'mc_answers'} %>
  
</div>